.font1 {
	font-family: 'Roboto';
	color: white;
	font-size: 3.4em;
}
.font2 {
	font-family: 'Roboto';
	color: white;
	font-size: 1.5em;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 40vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc; 
}
.panel {
  width: 44.5vw;

  display: none;
  background-color: white;
  overflow: hidden;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #234E39;
  width: 40vw;
  height: 6vh;
  transition-duration: 0.4s;

}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
