{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('/static/BGR3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
</style>
</head>
<body> 

   <div class="container pt-3 pl-2">
  <h2>Accordion</h2>
  </div>

  <div class="container pt-5 pl-5">
  <ul>
         
        <li>
       
        <button style="width: 2vw;" id="1" onclick="swapdown()" class="button1" name="test2">v</button>
        <button style="width: 2vw;" id="1b" onclick="swapup()" class="button1" name="test3">^</button>

        <button class="accordion" name="test1">Current Occupation</button>

              <div class="panel">
                <p>Currently studying so hard to survive distant learning, a lover for code, spending lots of time missing my friends and currently searching for the best PC game</p>
              </div>
              </li>

    
          <li>
          <button style="width: 2vw;" id="2" onclick="swapdown()" class="button1">v</button>
          <button style="width: 2vw;" id="2b" onclick="swapup()" class="button1">^</button>

        <button class="accordion">Organisation Experience</button>
          <div class="panel">
            <p>1. HRD of FnB Departement for Compfest</p><p>2. Members of finance for Perak</p>
          </div>
          </li>

          <li>
          <button style="width: 2vw;" id="3" onclick="swapdown()" class="button1">v</button>
          <button style="width: 2vw;" id="3b" onclick="swapup()" class="button1">^</button>

        <button class="accordion">Life Achievement</button>
          <div class="panel">
            <p>I'm pretty much never had a competition experience, that's probably because i prefer enjoying my youth with playing and doing what i like</p>
          </div>
        </li>
        <li>
          <button style="width: 2vw;" id="4" onclick="swapdown()" class="button1">v</button>
          <button style="width: 2vw;" id="4b" onclick="swapup()" class="button1">^</button>

        <button class="accordion">Hobbies</button>
          <div class="panel">
            <p>1. Chill coding (not competitive)</p>
            <p>2. Trading is a new hobby</p>
            <p>3. Touring with a motorcycle</p>
          </div>
        </li> 
  </ul>
  </div>
  <div class="container pt-5 pl-5">
    <div class="col-md-3 pt-2 pl-5">

      <button style="width: 10vw;" id="1" onclick="changetheme()" class="button1" name="test4">Change Theme</button>


    </div>
  </div>


  <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
  <script src="{% static 'filejava.js' %}"></script>



</body>
</html>


